<footer class="footer">
    <div class="content has-text-centered">
        <div class="media">
            <div class="media-right">
              <figure class="image is-128x128">
                <img
                  class="is-rounded"
                  src="https://images.pexels.com/lib/api/pexels.png"
                  alt="Pexels"
                />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-6"><strong>Pexels</strong> API <a href="https://www.pexels.com"> photo & video provider.</a></p>
              <p class="subtitle is-6">The website content is licensed.</p>
            </div>
          </div>
    </div>
</footer>