<div class="fixed-grid has-4-cols">
    <div class="grid">
        @for(photo of photos; track photo.id) {
            <div class="cell">
                <app-photo-card 
                    [photoDescription]="getRealPhotoName(photo.url)"
                    [photoImageURL]="photo.src.medium"
                    [photoURL]="photo.url"
                    [photographerName]="photo.photographer"
                    [photographerUserName]="getPhotographerUserName(photo.photographer_url)"
                    [photographerURL]="photo.photographer_url">
                </app-photo-card>
            </div>
        }
    </div>
</div>