<div class="card">
  <div class="card-image">
    <figure class="image is-2by3">
      <img
        src="{{ photoImageURL }}"
        alt="Pexels image"
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img
            class="is-rounded"
            src="https://cdn4.iconfinder.com/data/icons/people-of-service/512/People_Services_photographer_man-512.png"
            alt="Photographer"
          />
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-6">{{ photographerName }}</p>
        <p class="subtitle is-6"><a href="{{ photographerURL }}">{{ photographerUserName }}</a></p>
      </div>
    </div>

    <div class="content">
      {{ photoDescription }}
    </div>
  </div>
</div>